/* Global card style */
.card {
  background: linear-gradient(90deg, rgb(219, 198, 248), rgb(217, 230, 253));

  border-radius: 1.25rem; /* same as rounded-4 */
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
}
